<div class="page-block">
    <app-ecr-page-header [ecr]="ecr()" [displayLogo]="false"></app-ecr-page-header>
    <app-ecr-page-block
        [labelCenter]="true" label="ECB's Recommendations"
        [height]=1200>
        <table style="width:100%">
                <thead>
                        <tr>
                                <th>Evaluators</th>
                                <th>Recommendation</th>
                                <th>Reason</th>
                                <th>Date</th>
                        </tr>
                </thead>
                <tbody></tbody>
        </table>
        @for(recommendation of recommendations; track recommendation) {
                <div>
                        <app-ecr-page-block [height]="250">
                        <div>{{recommendation}}</div>
                        <div>
                                <span class="left-align">Name:</span>
                                <span class="right-align right-align-date">/&nbsp;&nbsp;&nbsp;&nbsp;/</span>

                        </div>
                        <div>
                                <span style="border-bottom: 1px solid black;">
                                        @for(i of underline; track i) {
                                                &nbsp;
                                        }
                                </span>
                                <span class="right-align">Promote</span>
                        </div>
                        <div>
                                <span class="left-align">Deparment:</span>
                        </div>
                        <div>
                                <span style="border-bottom: 1px solid black;">
                                        @for(i of underline; track i) {
                                                &nbsp;
                                        }
                                </span>
                                <span class="right-align">Defer</span>
                        </div>
                        <div>
                                <span class="left-align">Signature:</span>
                        </div>
                        <div>
                                <span style="border-bottom: 1px solid black;">
                                        @for(i of underline; track i) {
                                                &nbsp;
                                        }
                                </span>
                                <span class="right-align">Close</span>
                        </div>
                </app-ecr-page-block>
                </div>
                <div style="background-color: darkgrey"></div>
        }
        </app-ecr-page-block>
    </div>