// table, th, td, tr {
//     border: 1px solid black;
//     border-collapse: collapse;
//   }
tr td{
    border-right: 1px solid black;
    border-left: 1px solid black;
}
tr:last-child td{
    border-bottom: 1px solid black;
}

