<!-- <pre>table selected(): {{ selected() | json }}</pre> -->
<!-- <pre>{{ dataSource | json }}</pre> -->
@if(displaySelect()) {
          <div style="padding-bottom: 15px; flex-direction: row; justify-content: flex-start; width: 100%; display: flex;">
            <app-button text="Select" (click)="sendSelected()"></app-button>   
        </div>
}
<div>
<table mat-table matSort [matSortDisabled]="!allowSort()" [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  <!-- Checkbox Column -->
   @if(displaySelect()){
       <ng-container matColumnDef="select">
         <th mat-header-cell *matHeaderCellDef>
           <mat-checkbox (change)="$event ? toggleAllRows() : null"
                         [checked]="selection.hasValue() && isAllSelected()"
                         [indeterminate]="selection.hasValue() && !isAllSelected()">
                         <!-- [aria-label]="checkboxLabel()"> -->
           </mat-checkbox>
         </th>
         <td mat-cell *matCellDef="let row">
           <mat-checkbox (click)="$event.stopPropagation()"
                         (change)="$event ? selection.toggle(row) : null"
                         [checked]="selection.isSelected(row)">
                         <!-- [aria-label]="checkboxLabel(row)" -->
           </mat-checkbox>
         </td>
       </ng-container>
   }
    @for(column of columns(); track column) {
        <ng-container [matColumnDef]="column.column">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!allowSort()"> {{ column.header }} </th>
            <td mat-cell *matCellDef="let row"> {{column.data(row)}} </td>
        </ng-container>
    }
    @if(actions().length>0){
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row">
          @for(action of actions(); track action){
            <app-icon [toolTip]="action.label" [icon]="action.icon" (click)="action.action(row)"></app-icon>
          }
        </td>
      </ng-container>
  }
    <tr mat-header-row *matHeaderRowDef="displayedColumns(); sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns();"></tr>
  </table>
  @if(allowPagination()) {
    <mat-paginator 
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
  }
</div>
  
  