<!-- <pre>{{ ecrForm.controls['title'] | json }}</pre> -->
<form [formGroup]="form">
  <div>
    <div>
      <mat-form-field style="width:50%">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" formControlName="title" />
        @if (title.invalid) {
          <mat-error>{{'A title is required'}}</mat-error>
        }
      </mat-form-field>
    </div>
    <div style="display:flex; justify-content: space-between;">
      <mat-form-field style="width:20%">
        <mat-label>Change Severity</mat-label>
        <input matInput type="number" min="1" max="3" placeholder="Severity" formControlName="changeSeverity">
      </mat-form-field>

      <mat-form-field style="width:20%">
        <mat-label>Change Priority</mat-label>
        <input matInput type="number" min="1" max="3" placeholder="Change Priority" formControlName="changePriority">
      </mat-form-field>

      <mat-form-field style="width:20%">
        <mat-label>Request Number</mat-label>
        <input matInput type="number" min="0" max="5" placeholder="Request Number" formControlName="requestNumber">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Request Code</mat-label>
        <mat-select [formControl]="requestCode" multiple>
          @for (item of service.requestCode(); track item) {
            <mat-option [value]="item.id">{{item.label}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width:100%">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Description" rows="4" formControlName="description"></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width:100%">
        <mat-label>Solution Requirements</mat-label>
        <textarea matInput placeholder="Solution Requirements" rows="4" formControlName="solutionRequirements"></textarea>
      </mat-form-field>
    </div>
    <div style="display:flex; justify-content: space-between;">
      <mat-form-field style="width:30%">
        <mat-label>Creator</mat-label>
        <input matInput placeholder="Creator" formControlName="creator">
        @if (creator.invalid) {
          <mat-error>{{'A creator is required'}}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput formControlName="createdDate" [value]="valueCreatedDate" [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker [startAt]="valueCreatedDate"></mat-datepicker>
      </mat-form-field>

    </div>
    <div>
      <mat-form-field style="width:20%">
        <mat-label>Repository</mat-label>
        <mat-select formControlName="repository">
        @for (Item of repositoryService.items(); track Item) {
          <mat-option [value]="Item?.name">{{Item?.name}}</mat-option>
        }
        </mat-select>

        @if (repository?.invalid) {
          <mat-error>{{'A repository is required'}}</mat-error>
        }
      </mat-form-field>
    </div>
     <div>
      <!-- <app-pull-request-table [ecrId]="ecrId" [selected]="pullRequestValues" (selectedChange)="setPullRequest($event)"></app-pull-request-table> -->
      <!-- <app-pull-request-table [ecrId]="ecrId" [selected]="pullRequestValues"></app-pull-request-table> -->
      <!-- <app-pull-request-table></app-pull-request-table> -->
       <app-new-pr [ecrId]="ecrId" [selected]="pullRequestValues" (selectedChange)="setPullRequest($event)"></app-new-pr>
    </div> 
    <div style="padding-bottom: 1rem;">
      <app-signature-pad 
      [(signatureImg)]="signature" 
      [signatureHeight]="service.signatureHeight()" 
      [signatureWidth]="service.signatureWidth()">
    </app-signature-pad>
  </div>
</div>
</form>

<div class="example-button-container">
  <button mat-fab extended (click)="onClick()"[disabled]="form.invalid">
    <mat-icon>favorite</mat-icon>
    Save
  </button>
</div>